@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.make-emojis-large {
  font-size: 50px;
  color: blue;
  font-size: 30px;
}

.chosenEmoji {
  margin: 10px 0;
}

.output {
  border: 1px solid lightgray;
  padding: 20px;
  max-width: 80vw;
  overflow: auto;
  display: inline-block;
}