@import 'bootstrap/dist/css/bootstrap.min.css';

.content-container {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}

.title-container {
  box-shadow: 1px 1px 7px #0d6efd;
  border-radius: 5px;
}

.form-container {
  border: 1px solid lightgray;
  width: 500px;
  border-radius: 4px;
}

button {
  padding: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.make-emojis-large {
  font-size: 50px;
  color: blue;
  font-size: 30px;
}

.chosenEmoji {
  margin: 10px 0;
}

.picker__container {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.picker__container .emoji-picker-container {
  border: none;
}

.picker__container .emoji-search {
  margin-left: 0 !important;
}

.picker__container .emoji-picker-react {
  width: 100%;
}

.output-container {
  border: 1px solid lightgray;
  width: 500px;
}

.output {
  border: 1px solid lightgray;
  padding: 20px;
  max-width: 80vw;
  overflow: auto;
  display: inline-block;
}

@media(max-width: 1100px) {

  .form-container,
  .output-container {
    width: 362px;
  }
}

@media(max-width: 800px) {
  .content-container {
    grid-template-columns: auto;
  }

  .form-container,
  .output-container {
    width: 500px;
  }

  .output-container {
    margin-left: 0 !important;
    margin-top: 50px;
  }
}

@media(max-width: 576px) {

  .form-container,
  .output-container {
    width: 90%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}